<launch>
  <node name="export_bag_node" type="export_bag" pkg="export_bag" output="screen">
    <param name="bag_file" value="/media/ian/ResearchSSD/InspectionData/tunnel_datasets/CHD/inspot_2017-02-09-13-50-52.bag"/> 
    <param name="output_dir" value="/home/ian/tmp"/>
    <param name="imu_topic" value="/mavros/imu/data"/>
    <param name="sync_images" value="true"/>
    <param name="sync_lidar_with_images" value="true"/>
    <rosparam param="image_topics">
      ["/quadruple/bottom_left/image_raw/compressed",
       "/quadruple/bottom_right/image_raw/compressed",
       "/quadruple/top_left/image_raw/compressed",
       "/quadruple/top_right/image_raw/compressed"]
    </rosparam>
    <rosparam param="pointcloud_topics">
      ["/velodyne_point_cloud"]
    </rosparam>
  </node>
</launch>
